html {
    height: 100%;
    margin: 0;
}

body {
    background: url(./background-thor.jpg) center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Arvo', serif;
    height: 100%;
    margin: 0;
    /* position: relative; */
}

.logo {
    height: 50px;
    width: 50px;
    margin-top: 25px;
    margin-left: 20px;
   /*  border: 1px solid white; */
}

.logobrand {
    /* border: 1px solid white; */
    margin-top: 15px;
    height: 60px;
    width: 150px;
    margin-left: 20px;
}

#heading {
    font-size: 60px;
    line-height: 80px;
}

.welcome-user {
    font-size: 50px;
    /* border: 1px solid white; */
    text-align: center; color: white;
}

.container {
    
    max-width: 1100px;
    /* min-height: 80%; */
    
}

.container3 {
    max-width: 600px;
    margin: 140px auto 260px auto;
    padding: 40px 50px 20px 50px;
    background-color: white;
}

.icons {
    margin-bottom: 120px;;
}

.container2 {
    max-width: 600px;
    margin: 140px auto 120px auto;
    padding: 40px 50px 20px 50px;
    background-color: white;
    /* min-height: 100%; */
}

#mainpagecontainer {
    min-height: 75%;
    max-width: 800px;
    margin-bottom: 100px;
}

#signupbutton {
    margin: 10px auto 20px auto;
    width: 120px;
    height: 35px;
    border-radius: 15px;
    /* border: 1px solid black; */
    background-image: linear-gradient(to bottom right, red, orange);
    color: white;
}

#loginbutton {
    margin: 10px auto 20px auto;
    width: 120px;
    height: 35px;
    border-radius: 15px;
    /* border: 1px solid black; */
    background-image: linear-gradient(to bottom right, red, orange);
    color: white;
}

.lists {
    width: 200px;
    height: 60px;
    font-size: 20px;
    background-image: linear-gradient(to bottom right, #c33764,  #7800c2);
    color: white;
    vertical-align: middle;
}

.gotop {
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
}

.gotop:hover {
    text-decoration-line: none;
    background-color: transparent;
    color: white;
}

.container2 h2 {
    text-align: center;
    margin-bottom: 40px;
}

#avatar {
    height: 300px;
    width: 300px;
}

.update-buttons {
    margin-top: 55px;
    font-size: 25px;
}

.navbar-dark {
    background-color: transparent;
    height: 70px;
}

.nav li {
    color: white;
    font-size: 22px;
    margin-right: 35px;
    padding: 10px 0px;
}

.nav .dropdown {
    margin-top: 18px;
}

.nav .btn {
    margin-top: 25px;
    background-color: red;
    border-radius: 10px;
    color: white;
    border: 0px;
    width: 120px;
    height: 40px;
    letter-spacing: 2px;
}

.nav .btn:hover {
    background-color: red;
}

/* nav li:hover {
    border-bottom:1px solid#41edb5;
    padding-bottom: 9px;
} */

#mainContainer {
    margin-top: 150px;
}

.container-fluid {
    margin-top: -30px;
   /*  position: absolute; */
    /* margin-top: -10px; */
    height: 60px;
    
    /*bottom: 0;
    width: 100%; */
}

.jumbotron {
    background-color: transparent;
    /* border: 1px solid white; */
    text-align: center;
    color: white;
    /* margin: 0px; */
    padding: 20px;
    letter-spacing: 2px;
    
}

.icons h2 {
    margin-bottom: 20px;
}

.icons p {
    font-size: 18px;
}

.col-md-4 {
    text-align: center;
    margin-top: 50px;
    color: white;
}

.contactus {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
}

.contactus .btn {
    color: black;
    border: 1px solid black;
    border-radius: 25px;
    width: 250px;
    height: 50px;
    background-color: white;
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 100px;

}

.contactus .btn:hover {
    color: white;
    background-color: #585858;
}

.image {
    height: 150px;
    margin-bottom: 20px;
}

#forgotlink {
    margin-left: 240px;
}

#show tr {
    font-size: 20px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
}

#show tr:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

#selfimage {
    height: 50px;
    width: 50px;
    margin-top: 5px;
    margin-right: 15px;
}

.footerbtn {
    outline: none;
    background: transparent;
    box-shadow: none;
    border: none;
}

.footerbtn:hover {
    cursor: auto;
}

.footerbtn:focus {
    outline: 0;
}

.footimage {
    width: 35px;
    height: 35px;
    margin: 0px 5px 2px 5px;
}

.footimage:hover {
    cursor: pointer;
}

#facebook {
    width: 48px;
    height: 48px;
}

#twitter {
    width: 32px;
    height: 32px;
}

@media (max-width:768px) {
    .image {
        height: 80px;
    }

    /* .jumbotron .container h1 {
        font-size: 1em;
    } */

    .navbar-dark {
        height: 60px;
    }

    .nav li {
        margin-right: 15px;
    }

    .nav .dropdown {
        margin-top: 5px;
    }

    .nav .dropdown img {
        width: 35px;
        height: 35px;
    }

    .nav .btn-logout {
        margin-top: 20px;        
    }

    .nav .btn {
        height: 35px;
        font-size: 15px;
        line-height: 24px;
        margin-top: 15px;
    }

    .logo {
        height: 50px;
        width: 50px;
        top: 5px;
        padding-bottom: 5px;
        margin-left: 15px;
        margin-top: 15px;
    }

    .logobrand {
        /* border: 1px solid white; */
        margin-top: 5px;
        height: 50px;
        width: 120px;
        margin-left: 15px;
    }

    #avatar {
        height: 150px;
        width: 150px;
    }

    #userspan {
        font-size: 25px;
    }
    
    .update-buttons {
        font-size: 15px;
    }

    .lists {
        width: 100px;
        height: 40px;
        font-size: 14px;
        padding-left: 5px;
        padding-right: 5px;;
    }

    .navbar-toggler-icon {
        padding-bottom: 10px;
    }

    #heading {
        font-size: 44px;
        letter-spacing: normal;
        line-height: 65px;
    }

    .welcome-user {
        font-size: 30px;
    }

    .container2 {
        max-width: 400px;
    }

    .container3 {
        max-width: 400px;
    }

    .container-fluid {
        font-size: 12px;
    }

    #mainpagecontainer {
        max-width: 550px;
    }

    #forgotlink {
        margin-left: 40px;
    }

    #show tr {
        font-size: 16px;
    }

    #selfimage {
        width: 40px;
        height: 40px;
        margin-right: 10px;    
    }

    .foottext {
        font-size: 12px;     
    }

    .footimage {
        width: 28px;
        height: 28px;
        margin-top: 0px;
    }
    
    #facebook {
        width: 41px;
        height: 41px;
    }
    
    #twitter {
        width: 25px;
        height: 25px;
    }
}

#foot {
    /* border: 1px solid black; */
    /* width: 480px; */
    margin: 30px auto;
}

#footerself {
    text-align: center;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#footerself2 {
    text-align: center;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#self {
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
}

#self:hover {
    color: white;
    cursor: pointer;
    text-decoration: underline;
}

.showextra {
    display: none;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 50px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 1px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px;
    height: 40px;
    width: 40px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

  /* .brandlogo {
      width: 150px;
      height: 150px;
  }

 */

 .attribute {
     color: #d9d9d9;
 }

 /* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
    position: fixed;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    overflow: hidden;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 101;
  }
  
  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .facebook-bar {
    background: #3B5998;
    color: white;
  }
  
  .twitter-bar {
    background: #55ACEE;
    color: white;
  }
  
  .whatsapp-bar {
    background: green;
    color: white;
  }
  
  .mail-bar {
    background: #007bb5;
    color: white;
  }

  .sms-bar {
    background: #deb887;
    color: white;
  }
  